<div class="context container-fluid">
	<div class="row">
		<div class="text col-sm-6 col-xs-12">

			<div class="contextronic">
				<img src="images/car2.png">
				<div class="card">
					<h3>getting here</h3>
					<p>Invermere, BC is approximately 3 hours from Calgary International Airport (YCC) by car. Nick Crampton (nickcrampton@gmail.com) is looking into a group discount for those travelling from Toronto. We recommend renting a car in Calgary with a few friends/family members. You’ll be glad to have it to explore the Columbia Valley around Invermere.</p>
				</div>
			</div>


<!-- 			<div class="contextronic">
			<img src="images/lake.png">
			<div class="card">
					
				</div>
			</div>
 -->
		</div>
		<div class="image right col-sm-6 hidden-xs">
			<div class="current"></div>
			<div class="buffer"></div>
		</div>
	</div>
</div>