<div class="context container-fluid">
	<div class="row">
		<div class="image col-sm-6 hidden-xs">
			<div class="current"></div>
			<div class="buffer"></div>
		</div>
		<div class="text col-sm-6 col-xs-12">

			<div class="contextronic">
				<img src="images/lake.png">
				<div class="card">
					<h3>contact</h3>
					<p>please direct your questions to:</p>
<p>Anne Newhouse for accommodation and gifts (250.341.3467)</p>
<p>Ellian Bell for day-of logistics (647.454.2355) </p>
<p>Nick Crampton for flights (nickcrampton@gmail.com)</p>
<p>Breanna Newhouse for anything else (breannanewhouse@gmail.com)</p>

				</div>
			</div>

			<div class="contextronic">
				<img src="images/mountain.png">

			</div>

			<div class="contextronic">
				<img src="images/flowers.png">

			</div>

<!-- 			<div class="contextronic">
			<img src="images/lake.png">
			<div class="card">
					
				</div>
			</div>
 -->
		</div>
	</div>
</div>