<div class="context container-fluid">
	<div class="row">
		<div class="image col-sm-6 hidden-xs">
			<div class="current"></div>
			<div class="buffer"></div>
		</div>
		<div class="text col-sm-6 col-xs-12">

			<div class="contextronic">
				<img src="images/macaroons.png">
				<div class="card">
					<h3>contact</h3>
<p>Anne Newhouse for accommodation (<a href="tel:250.341.3467">250.341.3467</a>)</p>
<p>Ellian Bell for day-of logistics (<a href="tel:647.454.2355">647.454.2355</a>) </p>
<p>Nick Crampton for flights (<a href="mailto:nickcrampton@gmail.com">nickcrampton@gmail.com</a>)</p>
<p>Breanna Newhouse for anything else (<a href="mailto:breannanewhouse@gmail.com">breannanewhouse@gmail.com</a>)</p>

				</div>
			</div>

<!-- 			<div class="contextronic">
			<img src="images/lake.png">
			<div class="card">
					
				</div>
			</div>
 -->
		</div>
	</div>
</div>