<div class="container-fluid">
	<div class="row">
	<div class="col-xs-12 cursive logo">
		<img class="img-responsive" src="/images/aaicon.png">
	</div>
	<div class="row">
		<div class="col-xs-12 text-center email">
		<a href="mailto:aa@andrewandayla.com">aa@andrewandayla.com</a>
		</div>
	</div>
</div>