<div class="context container-fluid">
	<div class="row">
		<div class="image col-sm-6 hidden-xs">
			<div class="current"></div>
			<div class="buffer"></div>
		</div>
		<div class="text col-sm-6 col-xs-12">


			<div class="contextronic">
				<img src="images/aafaces.png">
				<div class="card">
					<h3>a story by ayla</h3>
					<p>Most of you know that Andrew and I met while working together at Normative Design. We didn’t know it then, but we would soon find out that we were great collaborators in all areas of life. Since I recommended to my then-boss Jon that he should hire Andrew, I knew that I had a real respect for his brain. Before long, this respect led to love for his vivacious hair, playful grin, and generous heart.</p>
				</div>
			</div>
			
			<div class="contextronic">
				<img src="images/aagoofy-02.png">
			</div>

<!-- 			<div class="contextronic">
			<img src="images/lake.png">
			<div class="card">
					
				</div>
			</div>
 -->
		</div>
	</div>
</div>