<div class="context container-fluid">
	<div class="row">
		<div class="text col-sm-6 col-xs-12">

			<div class="contextronic">
				<img src="images/lake.png">
				<div class="card">
					<h3>Andrew's Story</h3>
					<p>I met Ayla as an intern at Normative Design. She was cool and a bit intimidating, and definitely not someone I’d expect to be dating a few years later. We got together while I was interviewing for graduate programs, and when I was accepted to NYU, Ayla proclaimed that she would be coming with me. Not long after, she talked me out of going.</p>
				</div>
			</div>

			<div class="contextronic">
				<img src="images/mountain.png">
				<div class="card">
				<p>The following two years have been a whirlwind: I’ve run a marathon, started a company, joined one of the top design firms in the world, and am teaching a class soon at Stanford. Ayla’s launched an app, published a book, became a yoga teacher, and has run a successful business. Amongst all that chaos, Ayla has been my partner, friend, colleague, muse, and lover, with whom I’ve started to see the depths that love and partnership can offer in life.</p>
				</div>
				
			</div>

			<div class="contextronic">
				<img src="images/flowers.png">
		
			</div>

<!-- 			<div class="contextronic">
			<img src="images/lake.png">
			<div class="card">
					
				</div>
			</div>
 -->
		</div>
		<div class="image right col-sm-6 hidden-xs">
			<div class="current"></div>
			<div class="buffer"></div>
		</div>
	</div>
</div>