<div class="context container-fluid">
	<div class="row">
		<div class="image col-sm-6 hidden-xs">
			<div class="current"></div>
			<div class="buffer"></div>
		</div>
		<div class="text col-sm-6 col-xs-12">

			<div class="contextronic">
				<img src="images/lake.png">
				<div class="card">
					<h3>the engagement</h3>
					<p>On Sunday March 2, Andrew proposed during a pyjama post-it note brainstorm session about our life priorities. When marriage came up on each of our post-it note lists, something clicked for Andrew and he knew it was the right moment – it was so very us.</p>

				</div>
			</div>

			<div class="contextronic">
				<img src="images/mountain.png">
				<div class="card">
				<p>This photo is of us at a French bistro a few hours later, celebrating with Mimosas!</p>
				</div>
			</div>

		</div>
	</div>
</div>