<div class="context container-fluid">
	<div class="row">
		<div class="text col-sm-6 col-xs-12">

			<div class="contextronic">
				<img src="images/lake.png">
				<div class="card">
					<h3>the venue</h3>
					<p>A few years ago, I decided that if I never dreamed up my wedding, it might never happen. The first thing I thought of was that it had to be at my grandparents house on Lake Lillian. The dock on their little island has been the site of many family weddings, and I’m so excited to make it a part of Andrew and I’s big day. Thank you Nana and Grandad for sharing your space!</p>
					<h3>the view</h3>
					<p>Mount Nelson is the view Ayla grew up with living in Invermere. It’s a mountain that always has a new beauty to share with you. This will be the backdrop for the wedding, so make sure you bring a great camera!</p>
				</div>
			</div>

			<div class="contextronic">
				<img src="images/mountain.png">
			</div>

<!-- 			<div class="contextronic">
			<img src="images/lake.png">
			<div class="card">
					
				</div>
			</div>
 -->
		</div>
		<div class="image right col-sm-6 hidden-xs">
			<div class="current"></div>
			<div class="buffer"></div>
		</div>
	</div>
</div>