<div class="context container-fluid">
	<div class="row">
		<div class="image col-sm-6 hidden-xs">
			<div class="current"></div>
			<div class="buffer"></div>
		</div>
		<div class="text col-sm-6 col-xs-12">

			<div class="contextronic">
				<img src="images/event2.png">
				<div class="card">
					<h3>morning</h3>
					<p>
					9:00am  –  Loop the Lake run with Andrew</p>

					<p>
					10:00am  – Yoga with Breanna at Lake Lillian</p>

					<p>
					11:00am  –  Brunch at Lake Lillian</p>
				</div>
			</div>

			<div class="contextronic">
				<img src="images/event3.png">
			</div>

			<div class="contextronic">
				<img src="images/event5.png">
				<div class="card">
				<h3>ceremony</h3>
				<p>4:00pm  –  Wedding photos at Lake Lillian</p>

					<p>
				5:00pm  –  Wedding ceremony at Lake Lillian</p>

					<p>  
				5:30pm  –  Wedding party canoe on the lake</p>
				</div>
				
			</div>

			<div class="contextronic">
				<img src="images/event6.png">
			</div>

			<div class="contextronic">
				<img src="images/event7.png">
				<div class="card">
					<h3>party</h3>
					<p>
					6:00pm  –  Dinner and speeches at Westlake</p>

					<p>7:30pm  –  Dancing & romancing at Westlake</p>
					</div>
				</div>
			</div>

<!-- 			<div class="contextronic">
			<img src="images/lake.png">
			<div class="card">
					
				</div>
			</div>
 -->
		</div>
	</div>
</div>