<div class="context container-fluid">
	<div class="row">
		<div class="image col-sm-6 hidden-xs">
			<div class="current"></div>
			<div class="buffer"></div>
		</div>
		<div class="text col-sm-6 col-xs-12">

			<div class="contextronic">
				<img src="images/fashion1.png">
				<div class="card">
					<h3>what to wear</h3>
					<p>
				Many of you have been asking us about this. It will likely be hot, and there are various uneven surfaces. Flats will be more comfortable than heels, and we’d suggest wearing something breezy, with a warmer layer for the evening. Suits are not required, but dressing up is absolutely encouraged! Be sure to bring some comfortable walking/dancing shoes.</p>
				</div>
			</div>

			<div class="contextronic">
				<img src="images/fashion2.png">
			</div>

			<div class="contextronic">
				<img src="images/fashion4.png">
			</div>

<!-- 			<div class="contextronic">
			<img src="images/lake.png">
			<div class="card">
					
				</div>
			</div>
 -->
		</div>
	</div>
</div>