<div class="context container-fluid">
	<div class="row">
		<div class="text col-sm-6 col-xs-12">

			<div class="contextronic">
				<img src="images/flowers.png">
				<div class="card">
					<h3>gifts</h3>
					<p>We are so grateful that you can join us for this incredible celebration, and that is the greatest gift. Because we live in San Francisco, we also won’t be able to carry physical gifts home with us. If you’re still set on a gift, we’d love it if you contributed to our honeymoon fund with a note on what you think we might like to do with your gift.</p>

				</div>
			</div>

			<div class="contextronic">
				<img src="images/japan.png">				
			</div>

<!-- 			<div class="contextronic">
			<img src="images/lake.png">
			<div class="card">
					
				</div>
			</div>
 -->
		</div>
		<div class="image right col-sm-6 hidden-xs">
			<div class="current"></div>
			<div class="buffer"></div>
		</div>
	</div>
</div>