<div class="context container-fluid">
	<div class="row">
		<div class="image col-sm-6 hidden-xs">
			<div class="current"></div>
			<div class="buffer"></div>
		</div>
		<div class="text col-sm-6 col-xs-12">

			<div class="contextronic">
				<img src="images/yurt.png">
				<div class="card">
					<h3>accommodations</h3>
					<p>There are a variety of options for out-of-town guests. When you RSVP, you’ll have a chance to tell us whether you have a room to share, or need a place to stay (or neither). We’ll work to match people with at least a space on the floor, or a spot to camp. If you’d prefer a hotel (or Yurt!) recommendation, you can get in touch with Anne Newhouse at 250.341.3467.</p>
				</div>
			</div>

<!-- 			<div class="contextronic">
			<img src="images/lake.png">
			<div class="card">
					
				</div>
			</div>
 -->
		</div>
	</div>
</div>