<div class="logo container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<img class="img-responsive logo-image" src="images/aa-top.png" />
			<div class="date">
				<p>on August 9, 2014</p>
				<p>in Invermere, British Columbia</p>
				<!-- <p>on August the ninth, two-thousand and fourteen</p> -->
				<!-- <p>at five o’clock in the afternoon</p> -->
				<!-- <p>on Lake Lillian</p> -->
			</div>
		</div>
	</div>
</div>
<div class="background fullimage">
	<img src="images/aa-top-bg.jpg" />
</div>

