body {
	font-family: 'junction',helvetica,sans-serif;
    line-height: 28pt;
    font-size: 18pt;
    color: rgba(64,64,65,1);
}

h1,h2,h3,h4,h5,h6,label {
	font-family: 'junction',helvetica,sans-serif;
	font-size: 15pt;
	font-variant: small-caps;
}