body {
	font-family: 'junction',helvetica,sans-serif;
    color: $body-color;
}

p {
	line-height: 21pt;
    font-size: 14pt;
}

.cursive {
	font-family: 'Cedarville Cursive', cursive!important;
}

h1,h2,h3,h4,h5,h6,label {
	font-family: 'junction',helvetica,sans-serif;
	font-size: 18pt;
	font-variant: small-caps;
}