/* line 1, quote.scss */
.quote {
  background: transparent;
}
/* line 3, quote.scss */
.quote.on {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}
/* line 10, quote.scss */
.quote p {
  text-align: center;
  text-decoration: italic;
  margin-top: 25%;
  font-size: 90pt;
}
