/* line 1, rsvp.scss */
.rsvp {
  background: transparent;
  overflow: hidden;
}
/* line 5, rsvp.scss */
.rsvp.on {
  position: fixed!important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}
/* line 13, rsvp.scss */
.rsvp .fullscreen {
  height: 100%;
  width: 100%;
}
/* line 18, rsvp.scss */
.rsvp .fullscreen img {
  max-width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
}
/* line 28, rsvp.scss */
.rsvp p {
  text-align: center;
  text-decoration: italic;
  margin-top: 20%;
  font-size: 64pt;
  line-height: 82pt;
}
